/* ============= ParkDetailView ================ */

.parks-view-container {
  text-align: center;
  float: left;
  width: 60%;
  margin-top: 30px;
  padding: 20px;
  border: 1px solid black;
}

.parks-view-heading {
  margin-bottom: 27px;
}

.parks-view {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}

.parks-view-park {
  background: #D8FFC3;
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.parks-view-park:hover {
  color: #1C4013;
  background: #fff;
  border: 1px solid #1c4013;
}

.parks-view-park h3 {
  margin-top: 0;
}

.park-details-view-container {
  text-align: center;
  float: right;
  width: 37%;
  min-height: 450px;
  margin-left: 10px;
  padding: 20px;
  padding-bottom: 22px;
  border: 1px solid black;
}

.park-details-reviews {
  text-align: left;
}

.modal-dialog {
  width: 90%;
  height: 90%;
}

/* ============= GOOGLE MAP ================= */

#map-canvas { 
  float: left;
  position: relative;
  width: 60%;
  height: 450px; 
}

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 90%;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

/* =============== MEDIA QUERIES ================= */

@media screen and (max-width: 320px) {

}

@media screen and (max-width: 480px) {

}