body {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #F7FFEE;
}

.columns-container {
  position: relative;
}

.left-column {
  background: #F7FFEE;
  padding-top: 30px;
  padding-bottom: 30px;
}

.right-column {
  background: #A4D69A;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* ============== LOGO SECTION ================ */

.logo {
  background: #019875;
  color: #FFF;
  text-align: center;
  padding-top: 55px;
  padding-bottom: 18px;
}

.logo h1 {
  display: inline-block;
  font-size: 70px;
  font-weight: 100;
}

.logo-tagline {
  color: #F4D03F;
  font-size: 25px;
  font-weight: 100;
}

.instructions {
  text-align: center;
  font-size: 15px;
  margin-bottom: 30px;
}

/* ============= ParkDetailView ================ */

h2 {
  margin-top: 0;
  font-weight: 300;
}

.parks-view-container {
  background: url('../../images/cream_dust.png');
  text-align: center;
  width: 97%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 18px;
  padding: 20px;
  border-radius: 4px;
}

.parks-view-heading {
  margin-bottom: 27px;
}

.parks-view {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}

.parks-view-park {
  color: #FFF;
  background: #2F6C20;
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.parks-view-park:hover {
  color: #2F6C20;
  background: #fff;
  border: 1px solid #1c4013;
}

.parks-view-park h3 {
  margin-top: 0;
}

.park-details-view-container {
  text-align: center;
  background: url('../../images/cream_dust.png');
  width: 90%;
  min-height: 450px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px;
  padding-bottom: 22px;
  border-radius: 4px;
}

.park-details-reviews {
  text-align: left;
}

.photos-instructions {
  font-size: 12px;
}

.park-photo {
  cursor: pointer;
}

.modal-dialog {
  width: 90%;
  height: 90%;
}

/* ============= GOOGLE MAP ================= */

#map-canvas { 
  width: 97%;
  height: 380px; 
  margin-left: 18px;
  border-radius: 8px;
  border: 2px solid #90C695;
}

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 86%;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

/* =============== LOGIN VIEW ================= */

.view-container {
  text-align: center;
  background: url('../../images/cream_dust.png');
  width: 60%;
  margin-top: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
}

.view-container input {
  width: 42%;
  margin: 0 auto;
}

.dashboard-container {
  text-align: left;
  padding-top: 0;
  padding-left: 40px;
}

/* =============== MEDIA QUERIES ================= */

/*@media (max-width: 540px) {
  .logo-icon {
    margin-top: 15px;
  }
}*/